.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 20px; */
}

#app-name {
  color: #ff8c00;
  font-size: 2em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(241, 238, 238, 0.3);
  top: 0;
  left: 50%;
  /* transform: translateX(-50%); */
  background-color: #161616;
  padding: 10px 20px;
}

.watch {
  color: rgb(153, 0, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 10px;
  background-color: blueviolet;
}

.search-bar input {
  padding: 8px;
  background-color: blueviolet;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-bar button {
  padding: 8px 12px;
  background-color: #ff6f00;
  color: #fff;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.title {
  list-style: none;
  font-size: 1.2em;
  margin-bottom: 15px;
  position: relative;
  box-shadow: 2px 2px 4px rgba(180, 174, 174, 0.3);
  padding: 15px;
  border-radius: 10px;
  background-color: #323131;
  color: #fff;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

.anime-sp {
  box-shadow: 2px 2px 4px rgba(184, 26, 26, 0.3);
  border-radius: 16px;
  background: linear-gradient(35deg, #104b4b09, rgba(108, 13, 176, 0.373));
  margin-top: 20px;
  padding: 20px;
}

.splog-rbg {
  background-color: rgba(59, 14, 127, 0.406);
  border-radius: 5px;
  padding: 15px;
}

.splog-r {
  list-style: none;
  font-size: 1.2em;
  margin-bottom: 15px;
}

.create-anime-container {
  margin-top: 20px;
  margin-bottom: 40px;
  z-index: 1;
}

.create-anime-container label {
  color: #ff6f00;
  font-size: 1.1em;
  display: block;
  margin-bottom: 5px;
}

.create-anime-container input,
.create-anime-container textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #323131;
  color: #fff;
  box-sizing: border-box;
}

.create-anime-container input::placeholder {
  color: #999;
}

.create-anime-container textarea {
  resize: none;
  min-height: 100px;
}

.create-anime-container button {
  padding: 10px 15px;
  background-color: #ff6f00;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.create-anime-container button:hover {
  background-color: #db6a00;
}

.recommendation-button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #ff6f00;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.recommendation-button:hover {
  background-color: #db6a00;
}

#footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #4e5252;
  height: 74px;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0; 
}

#footer a {
  text-decoration: none;
}

#footer a:hover {
  opacity: 0.8;
}

#footer a img {
  height: 16px;
  width: 24px;
  margin-right: 10px;
  vertical-align: middle;
  padding-right: 32px;
}

.copyright {
  font-size: 10pt;
}
